<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Club Football :: Events</title>
</head>
<body>

<section class="py-5" layout:fragment="content">
    <div class="container px-5 my-5">
        <div class="mb-5 mb-lg-0 text-lg-start">
<!--            <form method="get" th:action="@{/club/search}" class="d-flex mb-5">-->
<!--                <input type="search" name="query" id="query" class="d-flex form-control" placeholder="Search"/>-->
<!--            </form>-->
<!--            <div th:if="${message}" class="alert alert-danger alert-dismissible fade show w-auto mx-auto mt-2 ">-->
<!--                <p th:text="${message}"></p>-->
            </div>
            <!--        </div>-->
            <!--        <div th:if="${clubs}">-->
            <!--            <div th:each="clubs:${clubs}" class="col-12 col-md-6 col-lg-4 mb-5">-->
            <!--                <img class="img-fluid rounded-3 mb-5 d-block overflow-auto" th:src="${clubs.photoUrl}"-->
            <!--                     alt="..."/>-->
            <!--                <h2 class="fw-bolder mb-4" th:text="${clubs.title}"></h2>-->
            <!--                <p th:text="${clubs.content}"></p>-->
            <!--                <div class="d-flex justify-content-end gap-2 align-items-center">-->
            <!--                    <a class="btn btn-primary btn-lg" th:href="@{/club/{clubId}/view(clubId=${clubs.id})}">Read more</a>-->
            <!--                    <a class="btn btn-warning btn-lg" th:href="@{/club/{clubId}/edit(clubId=${clubs.id})}">Edit</a>-->
            <!--                    &lt;!&ndash;<a class="btn btn-warning btn-lg" th:href="@{/event/{clubId}/new(clubId=${clubs.id})}">Add Event</a>&ndash;&gt;-->
            <!--                </div>-->
            <!--            </div>-->
            <!--        </div>-->

            <div th:if="${clubs}" class="row gx-5">
                <div th:each="clubs:${clubs}" class="col-lg-4 mb-3 mb-5">
                    <div class="d-flex justify-content-end align-items-center mb-2 gap-2">
                        <a th:href="@{/club/{clubId}(clubId=${clubs.id})}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-eye" viewBox="0 0 16 16">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                                <path d="M8 5.5a2.5 2.5 0 1 0 0     5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                            </svg>
                        </a>
                        <a th:href="@{/club/{clubId}/edit(clubId=${clubs.id})}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd"
                                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                            </svg>
                        </a>
                    </div>

                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top img-fluid" style="height: 400px; object-fit: cover;"
                             th:src="${clubs.photoUrl}" alt="..."/>
                        <div class="card-body p-4">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2"></div>
                            <a class="text-decoration-none link-dark stretched-link"
                               th:href="@{/club/{clubId}(clubId=${clubs.id})}">
                                <h5 class="card-title mb-3" th:text="${clubs.title}"></h5>
                            </a>
                            <p class="card-text mb-0" th:text="${clubs.content}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>