<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">

<!-- Page Content-->
<section class="py-5" layout:fragment="content">
    <div class="container border rounded p-5 my-5 bg-light text-center text-lg-start w-50 mx-auto mt-5">
        <h1 class="text-center mb-5">Create Club</h1>
        <!--        <div class="alert alert-danger" role="alert" th:if="${error}">-->
        <!--            <p th:text="${error}"></p>-->
        <!--        </div>-->

        <form role="form" th:action="@{/club/{clubId}/edit(clubId=${club.id})}" method="post" th:object="${club}">
            <input type="hidden" th:field="*{id}">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" th:field="*{title}" name="title" class="form-control" id="title"
                       aria-describedby="titleHelp">
                <span class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                <input type="text" th:field="*{content}" name="content" class="form-control" id="content"
                       aria-describedby="contentHelp">
                <span class="text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>

            </div>
            <div class="mb-3">
                <label for="photoUrl" class="form-label">PhotoURL</label>
                <input type="text" th:field="*{photoUrl}" name="photoUrl" class="form-control" id="photoUrl"
                       aria-describedby="photoUrlHelp">
                <span class="text-danger" th:if="${#fields.hasErrors('photoUrl')}" th:errors="*{photoUrl}"></span>
                <img th:src="${club.photoUrl}" alt="..."
                     class="img-thumbnail rounded w-25 h-25 d-block overflow-auto my-4">
            </div>

            <button type="submit" class="btn btn-primary ">Submit</button>
        </form>
    </div>
</section>
</html>